
Setting colors*/
:root{
  --mainBackgroundColor:#393e46;
  --subItemOneColor : #00adb5;
  --TextColorOne : #aad8d3;
  --TextColorTwo: #eeeeee; 
  }



/* Fake image */
.row{
    width : 90%;
    padding-left: 5%;
 }
.fakeimg {
    background-color: #aaa;
    width: 95%;
    padding: 2.5%;
    border-radius: 15px;
  }
  /* Add a card effect for articles */
.card {
    background-color: var(--subItemOneColor);
    padding: 2.5%;
    margin-top: 0.5%;
    border-radius: 15px;
  }
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .pageHeader{
    display:flex;
    align-content: left;
    width : 100%;
    margin-left:5%
  }
  #newAnnouncementButton{
    display: flex;
    align-self:right;
    height : 50%;
    margin-top:2%;
    margin-left:67%;

    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5%;
  }

  #newAnnouncementForm{
    display:none;
    background-color: var(--subItemOneColor);
    padding: 2.5%;
    margin :5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    border-radius: 5px;
    
  }
  .littlePadding{
    padding:0;
    margin:0;
    padding-bottom: 2px;
  }